@keyframes move_horizontal {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}

@keyframes move_vertical {
    from {
        top: 34%;
    }

    to {
        top: 100%;
    }
}

@keyframes move_horizontal_left {
    from {
        left: -40%;
    }

    to {
        left: 50%;
    }
}

@keyframes move_horizontal_down {
    from {
        left: 28%;
    }

    to {
        left: 55%;
    }
}

@keyframes move_vertical_right {
    from {
        top: 30%;
    }

    to {
        top: 120%;
    }
}

@keyframes move_horizontal_right {
    from {
        left: 120%;
    }

    to {
        left: 55%;
    }
}

@keyframes beat {

    0%,
    50%,
    100% {
        transform: scale(1, 1);
    }

    30%,
    80% {
        transform: scale(0.92, 0.95);
    }
}

@keyframes wiggle {
    20% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -15deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    70% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -15deg);
    }

    90% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes text {
    0% {
        transform: translate(1200%, 0);
    }

    100% {
        transform: translate(-1500%, 0);
    }
}

@keyframes shape_fall_right {
    0% {
        transform: translateX(0px) rotateZ(0deg);
    }

    100% {
        transform: translateX(var(--distance)) translateY(15vw) rotateZ(360deg);
    }
}

@keyframes shape_fall_left {
    0% {
        transform: translateX(0px) rotateZ(0deg);
    }

    100% {
        transform: translateX(var(--distance)) translateY(15vw) rotateZ(360deg);
    }
}

@keyframes fall {
    from {
        bottom: var(--fall_start);
    }

    to {
        bottom: var(--fall_distance);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes rotate_dryer_right {
    0% {
        transform: rotateZ(0deg);
    }

    90% {
        transform: rotateZ(2880deg);
    }

    100% {
        transform: rotateZ(2700deg);
    }
}

@keyframes rotate_dryer_left {
    0% {
        transform: rotateZ(0deg);
    }

    90% {
        transform: rotateZ(-2880deg);
    }

    100% {
        transform: rotateZ(-2700deg);
    }
}